a {
  text-decoration: none;
  font-family: 'EB Garamond', serif;
}
  
h1 {
  font-family: 'EB Garamond', serif;
  font-size: 5rem;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 4rem;
}
  
#category {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}
  
#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
  font-family: 'EB Garamond', serif;
}
  
#banner {
  margin: 20px;
  height: 800px;
}

#home-banner {
  height: 40vh;
}
  
#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}
  
.uk-navbar-container {
  background: #fff !important;
  font-family: 'EB Garamond', serif;
}
  
img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

p {
  font-family: 'Quicksand', sans-serif;
}
